@import "libs/swiper";
@import "libs/animate";

@IMG_TOP: 20px;
@IMG_HR: 50px;
@IMG_BOTTOM: 30px;
@MAX_WIDTH: 430px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: @MAX_WIDTH;
  margin: auto;
  background-color: rgb(32, 176, 255);
}
#main {
  .title {
    margin: 1em auto auto;
    text-align: center;
    color: #fff;
  }
}
#work-main {
  max-width: 100%;
  position: relative;
  //top: 10em;
  height: 30%;
  margin: 1em auto auto;
  background-color: #fff;
  //left: 10%;
  //right: 10%;
  //border: .1em solid transparent;
}

.swiper-pagination {
  bottom: -15px;
  width: 100%;
  .swiper-pagination-bullet {
    margin: 0 3px;
  }
}
.swiper-button-next {
  right: -40px;
}
.swiper-button-prev {
  left: -40px;
}
.swiper-slide {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 100%;
  text-align: center;
  font-size: 18px;

  //border: 1px solid cadetblue;

}

.swiper-container {
  //width: 300px;
  position: relative;
  overflow: hidden;
  //height: 250px;
  //padding: @IMG_TOP @IMG_HR @IMG_BOTTOM;
}
.swiper-wrapper {

}
.swiper-slide {
}


#img-workspace {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  //left: @IMG_HR;
  //right: @IMG_HR;
  //top: @IMG_TOP;//+20px;
  //bottom: @IMG_BOTTOM;//+10px;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-container {
  height: 100%;
  //max-height: 300px;
}
#btn-main {
  margin-top: 30px;
  text-align: center;

  .btn {
    //margin: auto;
    display: block;
    color: #fff;
    border-radius: 8px;
    padding: 8px 10px;
    span {
      padding: 8px 10px;
      cursor: pointer;
    }
    margin-top: 10px;
  }
  #btn-select {
    background: url("../imgs/green-btn.png") no-repeat center;
    background-size: cover;
  }
  #btn-expert {
    background: url("../imgs/yellow-btn.png") no-repeat center;
    background-size: cover;
  }
  #btn-reset {
    display: none;
  }
}
#preview {
  display: none;
  .close {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    color: #bbb;
  }
  background-color: #fff;

  overflow: hidden;
  border-radius: 10px;

  box-shadow: 0 1px 2px rgba(0,0,0,0.15), inset 0 -1px 0 0 #fcfcfc;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15),inset 0 -1px 0 0 #fcfcfc;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15), inset 0 -1px 0 0 #fcfcfc;
  max-width: @MAX_WIDTH;

  top: 50%;
  left: 10px;
  right: 10px;
  margin: auto;
  transform: translateY(-50%);
  z-index: 20;
  position: absolute;

  img {
    margin: auto;
    display: block;
    max-width: 100%;
  }
  p {
    text-align: center;
    margin-bottom: 20px;
  }
}

#helper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../imgs/help.png") no-repeat center center;
  background-size: cover;
  
  //background-color: rgba(255,255,255,.5);
  text-align: center;
  z-index: 21;
  .known-btn {
    position: absolute;
    display: inline-block;
    padding: 6px 20px;
    color: #fff;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 30px;
    transform: translateX(-50%);
    bottom: 40px;
    //background-image: url(../imgs/guideBTN.png);
    //background-position: center center;
    //background-repeat: no-repeat;
    //background-size: cover;
  }
}